annotated-types==0.7.0
coloredlogs==15.0.1
dataclasses-json==0.6.7
humanfriendly==10.0
marshmallow==3.23.1
mypy-extensions==1.0.0
packaging==24.2
psutil==6.1.0
pydantic==2.9.2
pydantic_core==2.23.4
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
quanta-client @ https://github.com/danielkennedy1/quanta-api/releases/download/v1.1.0/quanta-client.zip#sha256=9aa960f024d58629e7a36ecc4e327f3cc427b61053837455082a5adb6cefaf85
six==1.16.0
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==2.2.3
